@tailwind base;
@tailwind components;
@tailwind utilities;

.threeJS {
    width: 100vw;
    height: 100vh;
}

#info {
	position: absolute;
	top: 10rem;
	width: 100%;
    padding-top: 10rem;
	left: 5rem;
	z-index: 100;
	display:block;
}

h1 {
	font-family: 'Roboto', sans-serif;
}